{% extends 'manage/base.html' %}

{% block header %}
  <h1>{% block title %}New Blog{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="{{ request.form['title'] }}" required>
  <label for="summary">Summary</label>
  <textarea name="summary" id="summary" value="{{ request.form['summary'] }}" required rows="4"></textarea>
  <label for="content">Content</label>
  <textarea name="content" id="content" value="{{ request.form['content'] }}" required rows="16"></textarea>
  <label for="content">Describing Picture</label>
  <input type="file" name="file">
  <input type="submit" value="Save">
</form>
{% endblock %}