{% extends 'manage/base.html' %}}

{% block header %}
  <h1>{% block title %}Edit "{{ blog['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ request.form['title'] or blog['title'] }}" required>
    <label for="summary">Summary</label>
    <textarea name="summary" id="summary" rows="4" placeholder="摘要" style="resize:none;">{{ request.form['summary'] or blog['summary'] }}</textarea>
    <label for="content">Content</label>
    <textarea name="content" id="content" rows="16" placeholder="内容" style="resize:none">{{ request.form['content'] or blog['content'] }}</textarea>
    <label for="file">Describing Picture</label>
    {% if request.form['file'] or blog['image']  %}
      <img src="{{ url_for('static', filename=request.form['file'] or blog['image']) }}">
    {% endif %}
    <input type="file" name="file" id="file" value="{{ request.form['file'] or blog['image'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('manage.blog_delete', id=blog['id']) }}" method='post'>
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}