{% extends 'manage/base.html' %}

{% block header %}
  <div class="">
    <div class="">
      <ul class="">
        <li class=""><span>blogs</span></li>
        <li><a href="{{ url_for('manage.manage_comments') }}">comments</a></li>
        {% if g.user['admin'] == 1 %}
          <li><a href="{{ url_for('manage.manage_users') }}">users</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- Replace the title at the same time rendering text to h1,great! -->
  <h1>{% block title %}Manage Blogs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('manage.blog_create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for blog in blogs %}
    <article class="post">
      <header>
        <div>
          <h1>{{ blog['title'] }}</h1>
          <div class="about">by {{ blog['name'] }} on {{ blog['created_at'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['admin'] == 1 or g.user['id'] == blog['user_id'] %}
          <a class="action" href="{{ url_for('manage.blog_update', id=blog['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ blog['summary'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}