{% extends 'blog/base.html' %}

{% block header %}
  <!-- Replace the title at the same time rendering text to h1,great! -->
  <h1>{% block title %}Manage Blogs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for blog in blogs %}
    <article class="post">
      <header>
        <div>
          <h1>{{ blog['title'] }}</h1>
          <div class="about">by {{ blog['name'] }} on {{ post['created_at'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == blog['user_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=blog['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ blog['summary'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}