<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
</head>
<body>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <form method="post">
    <div>
      <label for="userid">username or email</label>
      <input type="text" id="userid" name="userid" value="{{ request.form['userid'] }}" autofocus required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="vialdcode">viald code</label>
      <input type="text" id="vialdcode" name="vialdcode" class="vialdcode" required>
      <img src="/auth/codes" alt="captcha" title="click toggle" onclick="this.src='/auth/codes'">
    </div>
    <div class="button">
      <button type="submit">Log In</button>
    </div>
  </form>
</body>
</html>