<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>注册</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquery.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</head>
<body>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <form method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="{{ request.form['username'] }}" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{ request.form['email'] }}" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="repassword">Repassword</label>
      <input type="password" id="repassword" name="repassword" required>
    </div>
    <div class="button">
      <button type="submit">Register</button>
    </div>
  </form>

</body>
</html>